*{
    margin:0; 
    padding:0;
}

body{
    background-color:beige;
}

#main_container{
   width:600px;
   margin-top:20px;
   margin-right:auto;
   margin-left:auto;
   background-color:#ffffff;
   overflow:hidden;
   }

.border {
    border:10px solid #666666;
    border-radius: 15px;
    width:100px;
    height:100px;
}

h2{
    font-size: 80px;
    font-family: verdana;
    text-transform:uppercase;
    text-align: center;
    color:#666666;
}

#a{
    float:left;
    margin-top: 40px;
    margin-left: 225px;
    margin-bottom: 2px;
}

#b{
    clear:left;
    float:left;
    margin-left: 165px;
    margin-bottom: 2px;
}

#c{
    float:left;
    margin-left: 2px;
}

#d{
    float:left;
    clear:left;
    margin-left: 100px;
}

#e{
    float:left;
    margin-left: 2px;
}

#f{
    float:left;
    margin-left: 2px;
}
.blue{
    color:dodgerblue;
    border-color: dodgerblue;
}
.green{
    color:rgb(44, 212, 44);
    border-color: rgb(44, 212, 44);
}
.red{
    color:red;
    border-color:red;
}